@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.positionCaC {
    margin-left: 60px;
}
.backgroundHead {
    background-color: #353A40;
}
.textHeadPosition {
    margin-right: 60px;
}
.textHeadTitulo {
    display: inline-flex;
    color: white;
    margin-top: 15px;
}
.textHead {
    color: rgb(138, 138, 138);
}
.textHead:hover {
    color: white;
}
.textHead:focus {
    color: white;
}
.divLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divRight {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divText {
    background-color: #353A40;
    color: white;
}
.borderText {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
.buttonColor { 
    background-color: #96C83F;
    border-color: #96C83F;
}
.footerClass {
    background-color: #1F4259;
    color: white;
}
.footerClass a {
    text-decoration: dashed;
    color: white;
}
.footerClass a:hover {
    color: #96C83F;
}
.footerClass a:focus {
    color: #96C83F;
}
.footerPosition {
    left: 0;
    width: 100%;
    position: absolute;

}